@import "_variable";

.contact-page {
  padding: 2rem 6rem;
}

.contact-content {
  width: 100%;
  margin: 3rem auto 0;
}
.contact-content input,
textarea {
  padding: 16px 25px;
  border: solid 1px #ccc;
  width: 100%;
  box-sizing: border-box;
}
.contact-content textarea:focus,
input:focus {
  border-color: rgb(56, 56, 57);
  box-shadow: 0 0 8px 0 rgb(56, 56, 57);
}
.contact-content-inner {
  display: flex;
  align-items: center;

  @media screen and (max-width: 768px) {
    display: block;
  }
}
.contact-content-inner th {
  width: 20%;
  margin-right: 1rem;
  text-align: left;
  @media screen and (max-width: 768px) {
    display: block;
    width: 100%;
  }
}
.contact-content-inner td {
  width: 80%;
  @media screen and (max-width: 768px) {
    display: block;
    width: 100%;
  }
}
.contact-content tr:not(:first-child) {
  padding-top: 20px;
  border-top: solid 1px #ccc;
  box-sizing: border-box;
  @media screen and (max-width: 768px) {
    border: none;
  }
}
.contact-content tr {
  padding-bottom: 20px;
}
[type="submit"] {
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 0;
  background: #000;
  color: $cWhite;
  font-weight: bold;
  margin: 0 auto;
  display: block;
  width: 200px;
  transition: all 0.3s;

  &:hover {
    background-color: #fff;
    color: $cBlack;
  }
}
.wpcf7-not-valid-tip {
  margin-top: 10px;
}

.wpcf7 form .wpcf7-response-output {
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  color: #c00;
  background-color: #fee4e4;
  padding: 20px;
}
.wpcf7 form.invalid .wpcf7-response-output {
  border-color: #fee4e4;
}
.color-red {
  color: red;
}
