#wpcf7 {
  padding: 2rem 6rem;
}

.contact-content {
  width: 800px;
  margin: 0 auto;
}
.contact-content input,
textarea {
  padding: 16px 25px;
  border: solid 1px #ccc;
  width: 100%;
}
.contact-content textarea:focus,
input:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
.contact-content-inner {
  display: flex;
  align-items: center;
}
.contact-content-inner dt {
  width: 220px;
}
.contact-content-inner dd {
  width: 580px;
}
.contact-content dl:not(:first-child) {
  padding-top: 20px;
  border-top: solid 1px #ccc;
}
.contact-content dl {
  padding-bottom: 20px;
}
[type="submit"] {
  cursor: pointer;
  width: 300px;
  border-radius: 35px;
  text-align: center;
  box-sizing: border-box;
  padding: 20px 0;
  background: #ff9600;
  color: #fff;
  font-weight: bold;
  margin: 0 auto;
  display: block;
}
.wpcf7-not-valid-tip {
  margin-top: 10px;
}

.wpcf7 form .wpcf7-response-output {
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  color: #c00;
  background-color: #fee4e4;
  padding: 20px;
}
.wpcf7 form.invalid .wpcf7-response-output {
  border-color: #fee4e4;
}
.color-red {
  color: red;
}