// メモ風
.box1 {
  position: relative;
  background: #eaf5f9;
  padding: 1.5em;
  border: solid 1px #27acd9;

  &::after {
    position: absolute;
    content: "";
    left: -1px;
    top: -1px;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: #fff #fff #27acd9;
  }
}

.box2 {
  position: relative;
  padding: 1em;
  color: #fff;
  background: #27acd9;
  margin: 1rem 0;

  &::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 50px;
    border: 15px solid transparent;
    border-top: 15px solid #27acd9;
    width: 0;
    height: 0;
  }
}

// コメントボックス（カスタマイズ）
.box3 {
  border: 1px solid #27acd9;
  background: #eaf5f9;
  padding: 1em;
  margin-bottom: 1rem;

  &_ttl {
    background: #27acd9;
    color: #fff;
    font-weight: bold;
    padding: 0.1em 0.5em 0px;
    display: inline-block;
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
    margin-top: 1rem;
  }
}

// 背景塗りつぶし
.box4 {
  padding: 0.5em 1em;
  margin: 2em 0;
}
.box4 p {
  margin: 0;
  padding: 0;
}

// 付箋風
.box5 {
  padding: 0.5em 1em;
  margin: 2em 0;
}
.box5 p {
  margin: 0;
  padding: 0;
}

// 会話の吹き出し（右から左に）
.kaiwa_right_to_left {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 870px;
  margin: 0 auto;
  align-items: flex-start;
  margin-bottom: 1em;
}

.kaiwa_right_to_left .text_wrap {
  position: relative;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-end;
  width: calc(100% - 118px);
}

/*吹き出しの三角部分*/
.kaiwa_right_to_left .text_wrap::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -29px;
  transform: translateY(-50%);
  border: 15px solid transparent;
  border-left: 15px solid #eceefe;
}

.kaiwa_right_to_left .text_wrap p {
  background: #eceefe;
  padding: 0.8em 1em;
  border-radius: 11px;
}

.kaiwa_right_to_left .icons_wrap div {
  text-align: center;
  top: -1em;
}

.kaiwa_right_to_left .icons_wrap div img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.kaiwa_right_to_left .icons_wrap p {
  margin-bottom: 0.25em;
  text-align: center;
}

// 会話の吹き出し（左から右に）
.kaiwa_left_to_right {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
  max-width: 870px;
  margin: 0 auto;
  align-items: flex-start;
  margin-bottom: 1em;
}

.kaiwa_left_to_right .text_wrap {
  position: relative;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  width: calc(100% - 118px);
}

/*吹き出しの三角部分*/
.kaiwa_left_to_right .text_wrap::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -29px;
  transform: translateY(-50%);
  border: 15px solid transparent;
  border-right: 15px solid #eceefe;
}

.kaiwa_left_to_right .text_wrap p {
  background: #eceefe;
  padding: 0.8em 1em;
  border-radius: 11px;
}

.kaiwa_left_to_right .icons_wrap div {
  text-align: center;
  top: -1em;
}

.kaiwa_left_to_right .icons_wrap div img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.kaiwa_left_to_right .icons_wrap p {
  margin-bottom: 0.25em;
  text-align: center;
}

// リスト ボックスシャドウ
.list_boxshadow {
  background: #f5f4f4; /*灰色に*/
  border-radius: 8px;
  box-shadow: 0px 0px 5px silver;
  padding: 0.5em 0.5em 0.5em 2em;
  margin-bottom: 1rem;

  & li {
    line-height: 1.5;
    padding: 0.5em 0;
  }
}

// リスト 鉛筆マーク付き
.list_pencil_icon {
  margin-bottom: 1rem;

  & li {
    color: black;
    position: relative;
    background: #f1f8ff; /*バーの色*/
    line-height: 1.5;
    padding: 0.5em;
    margin-bottom: 4px;
    border-left: solid 35px #5c9ee7; /*先の色＝アイコン裏の色*/
    list-style-type: none !important;

    &::before {
      content: "";
      position: absolute;
      display: block;
      padding: 0.5em;
      width: 1.2em;
      text-align: center;
      left: -35px;
      top: 50%;
      transform: translateY(-50%);
    }

    & span {
      position: absolute;
      display: inline-block;
      top: 63%;
      left: -31px;
      width: 23px;
      transform: translateY(-50%);

      & img {
        width: 100%;
      }
    }
  }
}

// シンプルな囲み枠
.simple-list__wrap{
  background: #fcfcfc;/*背景色*/
  padding: 0.5em 0.5em 0.5em 2em;/*ボックス内の余白*/
  border: solid 3px gray;/*線の種類 太さ 色*/
  margin-bottom: 2rem;

  & li {
    line-height: 1.5; /*文の行高*/
    padding: 0.5em 0; /*前後の文との余白*/  
  }
}

.stitch-list_wrap {
  background: #fffde8;
  box-shadow: 0px 0px 0px 10px #fffde8;/*線の外側*/
  border: dashed 2px #ffb03f;/*破線*/
  border-radius: 9px;
  margin-left: 10px;/*はみ出ないように調整*/
  margin-right: 10px;/*はみ出ないように調整*/
  padding: 0.5em 0.5em 0.5em 2em;

  & li {
    line-height: 1.5;
    padding: 0.5em 0;  
  }
}
