// メモ風
.box1 {
  position: relative;
  background: #eaf5f9;
  padding: 1.5em;
  border: solid 1px #27acd9;

  &::after {
    position: absolute;
    content: "";
    left: -1px;
    top: -1px;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: #fff #fff #27acd9;
  }
}

.box2 {
  position: relative;
  padding: 1em;
  color: #fff;
  background: #27acd9;
  margin: 1rem 0;

  &::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 50px;
    border: 15px solid transparent;
    border-top: 15px solid #27acd9;
    width: 0;
    height: 0;
  }
}

.box3 {
  border: 1px solid #27acd9;
  background: #eaf5f9;
  padding: 1em;
  margin-bottom: 1rem;

  &_ttl {
    background: #27acd9;
    color: #fff;
    font-weight: bold;
    padding: 0.1em 0.5em 0px;
    display: inline-block;
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
    margin-top: 1rem;
  }
}